<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mood Meter Class Select Page</title>
  <link rel="stylesheet" href="/stylesheets/select-class-page.css">
</head>
<body>
  <div class="content">
    <p class="header">Select a class</p>
    <div class="class-option-grid" id="class-option-grid">
    </div>
  </div>
  <script type="module" src="/javascripts/class-select-page.js"></script>
</body>
</html>

