<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mood Meter Login Form</title>
  <link rel="stylesheet" href="./stylesheets/login-styles.css">
</head>
<body>
	<div class="flip-card"> <!-- flip-card -->
		<div class="popup" id="student-popup">
			<div class="popuptext" id="student-popup-text"></div>
			<button class="popup-button" id="student-popup-button">Accept</button>
		</div>
		<div class="flip-card-inner" id="flipCardInner"> <!--flip-inner: container needed to allow flip-card animation -->
			<div class="flip-card-front"> <!-- flip-card-front: contains student login and teacher login interface -->
				<div class="form-structor"> <!-- form-structor: container for the login form  -->
					<div class="student-login"> <!-- student login form -->
						<h2 class="form-title" id="student-login"><span>or</span>Student Login</h2>
						<div class="form-holder">
							<input type="text" id='username-input' class="input" placeholder="Username" />
							<input type="password" id='password-input' class="input" placeholder="Password" />
						</div>
						<button id="student-submit-button" class="submit-btn">Login as Student</button>
					</div>  <!-- end signup -->
					<div class="teacher-login slide-up"> <!-- a slide up that contains the teacher login form -->
						<div class="center">
							<h2 class="form-title" id="teacher-login"><span>or</span>Teacher Login</h2>
							<div class="form-holder">
								<input type="email" id="teacher-email-input" class="input" placeholder="Email" required/>
								<input type="password" id="teacher-password" class="input" placeholder="Password" required/>
							</div>
							<button id="teacher-submit-button" class="submit-btn">Login as Teacher</button>
							<button class="create-account-btn" id="rotate-flip-button">Don't have an account? Create one here</a> <!-- flips the card around to reveal teacher registration -->
						</div>
					</div> <!-- end login slide-up -->
				</div> <!-- end for-structor -->
			</div> <!-- end flip-card-front -->
			<div class="flip-card-back"> <!-- flip-card back:  contains form for teacher registration -->
					<div class="teacher-signup">
					<h2 class="header" id="teacher-signup">Teacher Sign-Up</h2>
					<div class="form-holder">
						<input type="text" id='firstname-input' class="input" placeholder="First Name" required/>
						<input type="text" id='lastname-input' class="input" placeholder="Last Name" required/>
						<input type="email" id='email-input' class="input" placeholder="Email" required />
						<input type="text" id='signup-username-input' class="input" placeholder="Username"required />
						<input type="password" id='signup-password-input' class="input" placeholder="Password" required/>
						<input type="password" id='confirm-password-input' class="input" placeholder="Confirm Password" required/>
					</div>
					<button id="create-teacher-button" class="submit-btn">Submit</button>
				</div>  <!-- end signup -->
				<button id="back-button" class="back-button"></button>
			</div> <!-- end flip-card-back -->
		</div> <!-- end flip-card-inner -->
	</div> <!-- end flip-card -->

  <script type="module" src="javascripts/login-script.js"></script>
</body>
</html>
