.header {
  font-size: 30px;
  font-weight: bold;
  margin-left: 35%;
  margin-right: 37%;
}

.content {
  margin-left: 25%;
  margin-right: 25%;
}

.class-option-grid {
  display: grid;
  width: 100%;
  row-gap: 10px;
}

.class-title {
  word-wrap: break-word;
  max-width: 100%;
  font-size: 20px;
  margin-left: 45%;
  margin-top: 1%;
  line-height: 50px;
}

.class-option {
  border: solid;
  border-color: rgb(229, 229, 229);
  border-radius: 5px;
  border-width: 2px;
  box-shadow: 1.5px .5px 1.5px rgb(77, 76, 76);
  visibility: visible;
  height: 280px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 40% 100%;
}

.class-option:hover {
  border-color: rgb(191, 191, 191);
}

.class-option:active {
  border-color: rgb(134, 133, 133);
}