.class-row {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.header {
  font-size: 30px;
  font-weight: bold;
  display:inline;
}

.header-link {
  cursor:pointer;
  color:blue;
  text-decoration:underline;
  font-size: 30px;
  font-weight: bold;
  /* margin-left: 40%; */
}

.content {
  margin-left: 5%;
  margin-right: 5%;
}


.class-option-grid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  row-gap: 10px;
}

.class-title {
  word-wrap: break-word;
  max-width: auto;
  font-size: 17px;
  margin-left: 45%;
  margin-top: 1%;
  line-height: 50px;
}

.class-option {
  border: solid;
  border-color: rgb(229, 229, 229);
  border-radius: 5px;
  border-width: 2px;
  box-shadow: 1.5px .5px 1.5px rgb(77, 76, 76);
  visibility: visible;
  height: 260px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 40% 100%;
}

.class-option:hover {
  border-color: rgb(191, 191, 191);
}

.class-option:active {
  border-color: rgb(134, 133, 133);
}